h1 {
    display: grid;
    place-items: center;
}   

div {
    display: grid;
    place-items: center;
}


.save-score {
    display: grid;
    place-items: center;
}

.high-scores {
    display: flex;
    float: right;
}

.list-scores {
    display: flex;
    float: right;
    color: purple;
}